<section class="dashboard">
    <div class='new-blog-link'>
        <a href='/new-blog' class='create-link'>New Blog Post</a>
    </div>
    <div class='past-blog-heading'>
        <h3>Your Past Blogs</h3>
    </div>

    {{#each blogs}}
    <article class="post">
        <div class="card" id="post">
            <div class='card-header' id="postHeader">
                <span class='card-header-title'><a href="/blog/{{id}}" id="postHeader">{{title}}</a></span>
            </div>
            <div class="card-content content">
                <span>{{content}}</span>
            </div>
            <div class='card-content username'>By: {{User.username}}</div>
            <div class='card-footer'>
                <div class='card-footer-item time-stamp'>{{timeStamp createdAt}}</div>
                <a class='card-footer-item' href="/dashboard/edit/{{id}}">
                    <div id="edit">Edit Blog</div>
                </a>
                <a class='card-footer-item' href="/blog/{{id}}">
                    <div id="comment">Comments: {{Comments.length}}</div>
                </a>

            </div>
        </div>
    </article>

    {{> comments blogs.Comments}}

    {{/each}}
</section>