<ol class="post-list">
    {{#each blogs}}
    <li>
        <article class="post">
            <div class="card" id="post">
                <div class='card-header' id="postHeader">
                    <span class='main-font card-header-title'><a
                            href="/blog/{{id}}" id="postHeader">{{title}}</a></span>
                </div>
                <div class="second-font card-content content">
                    <span>{{content}}</span>
                </div>
                <div class='second-font card-content username'>By: {{User.username}}</div>
                <div class='card-footer'>
                    <div class='card-footer-item time-stamp'>{{timeStamp created_at}}</div>
                    <a class='card-footer-item' href="/blog/{{id}}" id="comment">Comments: {{Comments.length}}</a>
                </div>
            </div>
        </article>
    </li>
    {{/each}}
</ol>